@model List<proyectosMUNIVALPO.ViewModels.ProyectoViewModel>

<html>
<head>

    <script src="/scripts/customBack.js"></script>

    <script src="/scripts/customFor.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ilustre Municipalidad de Valparaíso</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="../css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="../css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/style.css">

    <!-- Modernizr JS -->
    <script src="../js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body onload="nobackbutton(); noforwardbutton();">
    <nav id="colorlib-main-nav" role="navigation">
        <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle active"><i></i></a>
        <div class="js-fullheight colorlib-table">
            <div class="colorlib-table-cell js-fullheight">
                <div class="row">
                    <div class="col-md-12 hidden-xs">
                        <img src="../resources/logo.png" width="120" alt="Ilustre Municipalidad de Valparaíso" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <li><a href="/Home/RegistrarProyecto"><strong>Ingresar proyecto</strong></a></li>

                            <li><a href="/Home/SeleccionarProyecto"><strong>Modificar proyectos</strong></a></li>
                            <li><a href="/Home/Login"><strong>Cerrar sesión</strong></a></li>

                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </nav>

    <div id="colorlib-page">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="colorlib-navbar-brand hidden-xs">
                            <a class="colorlib-logo" href="#"><img src="../resources/logo.png" width="150" alt="Ilustre Municipalidad de Valparaíso" /></a>
                        </div>
                        <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
                    </div>
                </div>
            </div>
        </header>
        <div id="colorlib-contact">
            <div class="container">

                <div class="row">
                    <div class="col-md-12 col-md-offset-0">

                        <div class="col-md-2 <!--animate-box-->">
                            <h3>Selecionar proyecto</h3>

                        </div>
                        <div class="col-md-10  <!--animate-box-->">
                            <div class="row">
                                <table class="table table-striped">
                                    <thead class="cabecera-tabla">
                                        <tr>
                                            <td>ID</td>
                                            <td>Nombre del proyecto</td>
                                            <td>Estado</td>
                                            <td style="width:15%;">Seleccionar</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var elemento in Model)
                                        {
                                        <tr>
                                            <td>@elemento.Id_proyecto</td>
                                            <td>@elemento.Nombre</td>
                                            <td>
                                                @{var tipo = "";
                                                    switch (elemento.Id_estado)
                                                    {
                                                        case 1:
                                                            tipo = "Habilitado";
                                                            break;
                                                        case 2:
                                                            tipo = "Inhabilitado";
                                                            break;
                                                        case 3:
                                                            tipo = "Publicado";
                                                            break;
                                                    }
                                                }@tipo
                                            </td>
                                            <!--   <td><i class="icon-edit"></i> <a href="#"> Seleccionar</a> </td>-->
                                            <td><input onclick="document.location.href='@Url.Content("~/Home/ModificarProyecto/"+elemento.Id_proyecto)'" type="button" value="Modificar" class="btn btn-info" /></td>
                                        </tr>

                                    }

                                    </tbody>
                                </table>
                            </div>





                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <nav aria-label="Page navigation example ">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <!-- jQuery -->
    <script src="../js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="../js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="../js/jquery.waypoints.min.js"></script>
    <!-- Owl Carousel -->
    <script src="../js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="../js/jquery.magnific-popup.min.js"></script>
    <script src="../js/magnific-popup-options.js"></script>
    <!-- Main JS (Do not remove) -->
    <script src="../js/main.js"></script>
</body>
</html>

