<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <br /><br /><br />
    <hgroup>

        <h1 class="center-block text-center">Error al procesar la solicitud.</h1>
    </hgroup>
</body>
</html>
